*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4e4ba;
    background-image: linear-gradient( 180deg, #78909c 7.5%, rgba(41, 40, 40, 0.96) 83.1% );
}

.container{
    background-color: 	#9a9a9a
    ;
    padding: 2rem;
    /* border: 1px solid black; */
    border-radius: 1.5rem;
    min-height: 45vh;
    width: 40vh;
}

form{
    margin:2rem 0 1rem 0 ;
}

form select,button,input{
    width:100% ;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border:1px solid lightslategray;
    font-size: 1rem;
    height: 2.5rem;
    padding: 0 0 0 0.5rem;
    
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.select-container img{
max-width:2rem ;
border-radius: .75rem;
}
.select-container{
    display: flex;
    width: 6rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border:1px solid lightslategray;
    background-color: white
}

.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.select-container select{
    font-size:1rem;
    width: auto;
    background-color:white
}
.msg{
    margin: 2rem 0 2rem 0;
}
button{
   height: 2.5rem;
   background-color: 	#454545;
   color: white;
   font-size: 1.15rem;
   cursor: pointer;
}
option{
    background-color: rgb(102, 101, 101);
   border-radius: .5rem;
   color: white;
}

.msg{
    color: rgb(241, 7, 7);
    font-size: 1.15rem;
    font-weight: 700;
}